<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.william.spt.mapper.UserMapper">

    <select id="get" resultType="User" >
        SELECT a.user_name AS "userName",
        a.password
        FROM USER a
        WHERE a.id = #{userId}
    </select>

</mapper>